{% block body %}
<footer class="text-white py-4">
    <div class="bg-primary mb-4" style="height: 5px;"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center text-md-left mb-4 mb-md-0">
        <h5 class="mb-3">Suivez-moi sur ces réseaux sociaux</h5>
        <div class="btn-group" role="group" aria-label="Réseaux sociaux">

          <a
            class="btn btn-link btn-floating btn-lg"
            href="https://www.facebook.com/adriano.reina"
            role="button"
            data-mdb-ripple-color="dark"
          ><i class="fab fa-facebook-f"></i></a>

          <a
            class="btn btn-link btn-floating btn-lg"
            href="https://www.instagram.com/polarpoyd/"
            role="button"
            data-mdb-ripple-color="dark"
          ><i class="fab fa-instagram"></i></a>

          <a
            class="btn btn-link btn-floating btn-lg"
            href="https://www.linkedin.com/in/adriano-reina-797325259/"
            role="button"
            data-mdb-ripple-color="dark"
          ><i class="fab fa-linkedin"></i></a>

          <a
            class="btn btn-link btn-floating btn-lg"
            href="https://github.com/PolarPoyd"
            role="button"
            data-mdb-ripple-color="dark"
          ><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="col-md-6 text-center text-md-right">
        <h5 class="mb-3">Contactez-moi</h5>
        <ul class="list-unstyled text-body">
          <li><i class="fas fa-envelope fa-fw"></i> reina.adriano@outlook.fr</li>
          <li><i class="fas fa-phone fa-fw"></i> 06.62.67.96.19</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
