{% extends 'base.html.twig' %}

{% block title %}Modifier un Module
{% endblock %}

{% block body %}

	{% for message in app.flashes('danger') %}
		<div class="alert alert-dismissible alert-danger mt-4">
			<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
			{{ message }}
		</div>
	{% endfor %}

	<div class="container mt-4">
		<div class="row justify-content-center">
			<div class="col-md-8">
				<h1 class="text-center mt-5 mb-5">Modifier votre module</h1>

				{{ include('module/_form.html.twig') }}

				<div class="mt-3 text-center">
					<a href="{{ path('app_module_index') }}" class="btn btn-secondary">Retour à la liste</a>
				</div>
			</div>
		</div>

		<div style="height: 300px;"></div>
	</div>


{% endblock %}
